html,
body {
    overflow: hidden;
    height: 100%;
}

body {
    font-family: $main-font;
    overflow-y: auto;
    overflow-x: hidden;

    &.off-scroll {
        overflow-y: hidden;
    }
}

.container {
    margin: 0 auto;
    padding: 0 45px;
    max-width: 1366px;

    @media (max-width: $breakpoint-xl) {
        padding: 0 20px;
        max-width: 1025px;
    }
    @media (max-width: $breakpoint-lg) {
        max-width: 768px;
    }
    @media (max-width: $breakpoint-md) {
        padding: 0 16px;
        max-width: 360px;
    }
}