$breakpoint-xxl: 1920px;
$breakpoint-xl: 1366px;
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

$main-font: 'Josefin Sans', sans-serif;
$second-font:'Dancing Script', cursive;

$color-white:whitesmoke;
$color-dark:#222222;
$color-red:rgb(207, 0, 0);