.section-one{
    color: $color-white;
    background-color: $color-dark;
    position: relative;

    &__phone_flex{
        padding-top: 16px;
        display: flex;
        justify-content: space-around;
    }

    &__phone-number{
        font-family: $main-font;
        transition: 0.3s linear;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__phone-logo{
        width: 20%;
    }

    &__flex-box{
        padding: 40px 0;
        display: flex;
        flex-direction: row;
    }

    &__left-box{
        width: 90%;
    }

    &__right-box{
        width: 10%;
        display: flex;
        flex-direction: column;
    }

    &__back-image_left{
        width: 20%;
        position: absolute;
        left: 0;
        top:40px;
    }

    &__back-image_right{
        width: 20%;
        position: absolute;
        right: 0;
        top: 870px;
        z-index: 0;
    }

    &__main-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__main-topic{
        font-family: $second-font;
        font-weight: normal;
        font-size: 64px;
        margin-bottom: 32px;
    }

    &__description{
        z-index: 4;
        text-indent: 20px;
        text-align: center;
        font-family: $main-font;
    }

    &__main-image{
        width: 240px;
    }

    &__nav-soc-links{
        display: flex;
        flex-direction: column;
        align-items: end;
        
    }

    &__soc-link{
        transition: 0.3s linear;
        margin-bottom: 10px;
        z-index: 4;
        outline: 1px solid transparent;
        padding: 5px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__soc-link:hover{
        opacity: 0.75;
        outline: 1px solid $color-white;
        border-radius: 5px;
        background-color: $color-red;
    }

    &__soc-link-image{
        width: 40px;
        height: 40px;
    }

    &__hr{
        width: 100%;
        height: 4px;
        margin: 0;
        background: linear-gradient(
            90deg,
            $color-dark 0%,
            $color-dark 30%,
            $color-red 40%,
            $color-red 60%,
            $color-dark 70%,
            $color-dark 100%
    );
        margin: 32px 0;
        border: none;
    }

    &__types{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 40px;
    }

    &__types-topic{
        font-family: $main-font;
    }

    &__types-big-box{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    &__types-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    &__types-mini-box{
        width: 28%;
        z-index: 4;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__types-mini-box-topic{
        font-family: $main-font;
        margin-top: 32px;
        text-align: center;
    }

    &__types-mini-box-description{
        font-family: $main-font;
        margin-top: 16px;
        text-align: center;
        
    }

    &__types-image{
        margin-top: 16px;
        width: 70%;
        height: 200px;
        border: 1px solid $color-white;
        border-radius: 5px;
    }
}