.section-one{
    color: $color-white;
    background-color: $color-dark;
    position: relative;

    &__flex-box{
        padding: 40px 0;
        display: flex;
        flex-direction: row;
    }

    &__left-box{
        width: 80%;
    }

    &__right-box{
        width: 20%;
        display: flex;
        flex-direction: column;
    }

    &__back-image_left{
        width: 20%;
        position: absolute;
        left: 0;
        top:40px;
    }

    &__back-image_right{
        width: 20%;
        position: absolute;
        right: 0;
        top: 470px;
    }

    &__main-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__main-topic{
        font-family: $second-font;
        font-weight: normal;
        font-size: 64px;
        margin-bottom: 32px;
    }

    &__description{
        z-index: 4;
        text-indent: 20px;
    }

    &__main-image{
        width: 240px;
    }

    &__nav-soc-links{
        display: flex;
        flex-direction: column;
        align-items: end;
        
    }

    &__soc-link{
        transition: 0.3s linear;
        margin-bottom: 10px;
        z-index: 4;
        outline: 1px solid transparent;
        padding: 5px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__soc-link:hover{
        opacity: 0.75;
        outline: 1px solid $color-white;
        border-radius: 5px;
        background-color: $color-red;
    }

    &__soc-link-image{
        width: 40px;
        height: 40px;
    }

    &__hr{
        width: 100%;
        height: 4px;
        margin: 0;
        background: linear-gradient(
            90deg,
            $color-dark 0%,
            $color-dark 30%,
            $color-red 40%,
            $color-red 60%,
            $color-dark 70%,
            $color-dark 100%
    );
        margin: 14px 0;
        border: none;
    }

}